.link-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    .navbar-link {
        text-decoration: none;
        font-family: Cambria, serif;
        color: white;
        padding-right: 15px;
    }
    
    .navbar-brand {
        text-decoration: none;
        font-family: Cambria, serif;
        color: white;
        padding-right: 15px;
    }
}